#navbar {
    background-color: rgb(160, 160, 160);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 60px;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: white;
}

.navbarItems {
    display: inherit;
    align-items: inherit;
}

.navbarItems ul {
    color: white;
    list-style: none;
    padding-left: 30px;
}

.navbarItems li {
    font-weight: bold;
    float: left;
    width: 150px;
    text-shadow: 3px 3px 10px black;

}


.navbarItems a:hover {
    font-size: 15px;
    text-shadow: 10px 10px 10px black;
}


#Logo img{
    width: 40px;
    border-radius: 90px;
}

#Logo {
    margin-right: 10px;
}