@import 'colors';
@import 'mixin';

.cart {
    box-shadow: 5px 5px 10px grey;
    margin-bottom: 40px;
    border-radius: 10px;
    background-color: #ececec;
    overflow: hidden;
    width: 300px;
    h3 {
        margin: 20px 15px ;
    }
}

.image img {
    height: 250px;
}

.name {
    height: 100px;
}

.price {
    width: fit-content;
    padding: 5px;
    margin: 15px;
    background-color: #0a912e;
    border-radius: 5px;
    color: white;
}

.counter {
    @include flex(space-between);

    padding: 15px;
    border-top: 1px silver solid;

    div {
        
        @include flex(center);
    }
    img {
        width: 25px;
        margin: auto 15px;
    }
    span{
    background-color: $darkBlue;
    padding: 7px;
    border-radius: 5px;
    font-weight: bold;
    color: white;
    }
}

.sign {
    cursor: pointer;
}



.deactive {
    opacity: 0.3;
}

.totalPrice {
    background-color: $darkBlue;
    padding: 7px;
    border-radius: 5px;
    color: white;
}